@import "tailwindcss";
@import 'swiper/css';
@import 'swiper/css/pagination';

:root {
  --background: #F5F9FF;
  --foreground: #171717;
  --brand-blue: #083B8A;
  --dark-header: #002868;
  --button-blue: #0B5ED7;
  --hover-blue: #4D9FFF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-blue: var(--brand-blue);
  --color-dark-header: var(--dark-header);
  --color-button-blue: var(--button-blue);
  --color-hover-blue: var(--hover-blue);
  --font-sans: Arial, Helvetica, sans-serif;
  --font-mono: "Cascadia Mono", Consolas, "Courier New", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F5F9FF;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

#about,
#products {
  scroll-margin-top: 130px;
}
